<div class="backpack_h1_bg">
  <center><h1>Evolutions</h1></center>
</div>

<br>
<br>
<br>
<br>
<br>
  
<div class="backpack_div lil"><%= (image_tag('brocolil.png', width: '120px', height: '200px')) %></div>
  <div class="backpack_div lot"><%= (image_tag('brocolot.png', width: '180px', height: '240px')) %></div>
  <div class="backpack_div dile"><%= (image_tag('brocodile.png', width: '220px', height: '360px'))%></div>