<center><h1>Evolutions</h1></center>

<div class="backpack_div"><%= link_to(image_tag('brocolil.png', width: '120px', height: '200px')) %></div>
<div class="backpack_div"><%= link_to(image_tag('brocolot.png')) %></div>
<div class="backpack_div"><%= link_to(image_tag('brocodile.png'))%></div>