<h1>Backpack#show</h1>

<%= link_to(image_tag('brocolil.png'), )


<div class="home_button">
  <img src="/images/Home-icon.png">
</div>

<script type="text/javascript">
  $(document).ready(function(){
    home();
  });

  function home(){
    $(".home_button").on("click", function(){
      window.location.replace("https://boiling-citadel-40388.herokuapp.com");
    });
  };
</script>