<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 12
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('You are right here!');
            map.setCenter(pos);

            var marker = new google.maps.Marker({
              position: pos,
              map: map,
              title: 'Pier 17'
            });
            
            // marker.addListener('click', function() {
            //   infowindow.open(map, marker);
            // });

            var parks = <%= @parks_longlat %>;
            for (i=0; i < parks.length; i++) {
              var pos = {lat: parks[i][1], lng: parks[i][0]};
              var marker = new google.maps.Marker({
                position: pos,
                map: map,
                title:"HERE"
              });
              // marker.addListener('click', function() {
              //   infowindow.open(map, marker);
              // });
            };
              

          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        };
      };

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      };
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_api']%>&callback=initMap">
    </script>
    
    <div class="home_button">
      <img src="/images/Home-icon.png">
    </div>

    <h2>Parks</h2>
      <ul>
        <% @parks_call.each do |park| %>
          <li><%= park.name %></li>
        <% end %>
      </ul>


      <script type="text/javascript">
        $(document).ready(function(){
          home();
        });

        function home(){
          $(".home_button").on("click", function(){
            window.location.replace("https://boiling-citadel-40388.herokuapp.com");
          });
        };
      </script>
  </body>


</html>