<div class="user_nav">
<h1 class="navbar-h1">VEGGIEMON</h1>
  <h2><%= @user.name %></h2>
</div>

<div class="hideable">
  <div class="user_image"><img src="/images/bluebeary.png"></div>

  <div class="buttons">
    <div class="map"><img src="/images/map_icon.ico"></div>
    <div class="float-left">
    </div>
    <div class="scan">
      <img src="/images/scanner-icon.png">
      <input type="file" id="take-picture" accept="image/*">
    </div>
    <div class="pack"><img src="/images/backpack.png"></div>
  </div>
</div>

<script src="js/base.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    scan();
    map();
    pack();
  });

  function scan(){
    $("#take-picture").on("click", function(){
      setTimeout(function(){
        $(".hideable").css("display", "none");
        $(".loader").css("display", "block");
      }, 7000);
      setTimeout(function(){
        window.location.replace("/monster/new");
      }, 11000)
    });
  };

  function map(){
    $(".map").on("click", function(){
      window.location.replace("/google_maps/index");
    });
  };

  function pack(){
    $(".pack").on("click", function(){
      window.location.replace("/backpack/show");
    });
  };
</script>
<div class="loader">Loading...</div>




