<div class="user_nav">
  <h1><%= @user.name %></h1>
  <div class="level">Level</div>
  <div class="level_num">7</div>
</div>

<div class="user_image"></div>

<div class="buttons">
  <div class="map"></div>
  <div class="scan" id="take-picture">
    <!-- <div class="container">
      <section class="main-content">
          <div>
            <input type="file" id="take-picture" accept="image/*">
          </div>
          <p id="error"></p>
      </section>
    </div> -->
  </div>
  <div class="pack"></div>
</div>

<script src="js/base.js"></script>
<div class="loader">Loading...</div>




