<div class="user_nav">
  <h1><%= @user.name %></h1>
  <div class="level">Level</div>
  <div class="level_num">7</div>
</div>

<div class="user_image"></div>

<div class="buttons">
  <div class="map"></div>
  <div class="scan"></div>
  <div class="pack"></div>
</div>

<div class="container">

  <section class="main-content">
      <div>
      <label for="file">Scan it!</label>
        <input type="file" id="take-picture" accept="image/*">
      </div>

      <h2>Barcode:</h2>
      <p>
          <img src="about:blank" alt="" id="show-picture">
      </p>

      <p id="error"></p>

  </section>

</div>
<script src="js/base.js"></script>
<div class="loader">Loading...</div>




