<div class="user_nav">
  <h1><%= @user.name %></h1>
  <div class="level">Level</div>
  <div class="level_num">7</div>
</div>

<div class="hideable">
  <div class="user_image"></div>

  <div class="buttons">
    <div class="map"></div>
    <div class="scan">
      <input type="file" id="take-picture" accept="image/*">
    </div>
    <div class="pack"></div>
  </div>
</div>

<script src="js/base.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    scan();
    console.log("ready");
  });

  function scan(){
    $("#take-picture").on("click", function(){
      console.log("CLICKED");
      setTimeout(function(){
        $(".hideable").css("display", "none");
        $(".loader").css("display", "block");
      }, 4000);
      setTimeout(function(){
        window.location.replace("https://boiling-citadel-40388.herokuapp.com/monster/new");
      }, 8000)
    });
  };
</script>
<div class="loader">Loading...</div>




