<!-- <h1 class="navbar-h1">Veggiemon Grow</h1> -->
<div class="veg-gif"><%= image_tag("veg.gif") %></div>
<div class="main-page">
<div class="hideable">
  <div class="user_image"><img src="/images/brocodile.png"></div>
  <div class="ravi">
    <div class="cool-bot-text">
      <h1>Battle Veggiemon</h1>
    </div>
    <div class="cool-bot-text">
      <h1>Collect them all!</h1>
    </div>
  </div>

<script src="js/base.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    scan();
  });

  function scan(){
    $("#take-picture").on("click", function(){
      setTimeout(function(){
        $(".hideable").css("display", "none");
        $(".loader").css("display", "block");
      }, 7000);
      setTimeout(function(){
        window.location.replace("/monster/new");
      }, 11000)
    });
  };
</script>
<div class="loader">Loading...</div>
</div>