<div class="user_nav">
  <h1><%= @user.name %></h1>
  <div class="level">Level</div>
  <div class="level_num">7</div>
</div>

<div class="hideable">
  <div class="user_image"></div>

  <div class="buttons">
    <div class="map"><img src="/images/map_icon.ico"></div>
    <div class="scan">
      <input type="file" id="take-picture" accept="image/*">
    </div>
    <div class="pack"><img src="/images/backpack.png"></div>
  </div>
</div>

<script src="js/base.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    scan();
    map();
    pack();
  });

  function scan(){
    $("#take-picture").on("click", function(){
      setTimeout(function(){
        $(".hideable").css("display", "none");
        $(".loader").css("display", "block");
      }, 7000);
      setTimeout(function(){
        window.location.replace("https://boiling-citadel-40388.herokuapp.com/monster/new");
      }, 11000)
    });
  };

  function map(){
    $(".map").on("click", function(){
      window.location.replace("https://boiling-citadel-40388.herokuapp.com/google_maps/index");
    });
  };

  function pack(){
    $(".pack").on("click", function(){
      alert("go to the pack page");
      // go to the pack page
      // window.location.replace("https://boiling-citadel-40388.herokuapp.com/monster/new");
    });
  };
</script>
<div class="loader">Loading...</div>




