//Setup
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}

.monster_show {
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #282828;
}


//Demo
.skills {
  width: 80%;
  max-width: 960px;
  height: 720px;
  margin: auto;
  
  position: relative;
}

.lines {
  height: 100%;
  position: relative;
  
  .line {
    height: inherit;
    width: 2px;
    
    position: absolute;
    
    background: rgba(#eee, 0.6);
    
    &.l--0 {
      left: 0;      
    }
    &.l--25 {
      left: 25%;      
    }
    &.l--50 {
      left: 50%;      
    }
    &.l--75 {
      left: 75%;      
    }
    &.l--100 {
      left: calc(100% - 1px);      
    }
    
    .line__label {
      display: block;
      width: 100px;
      text-align: center;
      
      position: absolute;
      bottom: -20px;
      right: -50px;
      
      &.title {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

.charts {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.chart {
  margin: 30px 0 0;
  
  &:first-child {
    margin: 0;
  }
}

.chart__title {
  display: block;
  margin: 0 0 10px;

  font-weight: bold;
  
  opacity: 0;
  
  animation: 3s anim-lightspeed-in ease forwards;

  .chart--dev & {
  }
  .chart--prod & {
    animation-delay: 3s;
  }
  .chart--design & {
    animation-delay: 4.2s;
  }
}

.chart--horiz {
  overflow: hidden;
}

.mlevel {
 background: purple;
}

.mexperience {
 background: green;
}

.mpower {
 background: red;
}

.menergy {
  background: orange;
}

.mpoints {
  background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

.chart__bar {
  list-style-type: none;
  $border-rad: 4px;
  height: 30px;
  margin-bottom: 10px;

  
  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  opacity: 0; 

  animation: 3s anim-lightspeed-in ease forwards;

  .chart--dev & {
    @include stagger-anim-delay(9, .5s, 0.2s);    
  }
  .chart--prod & {
    @include stagger-anim-delay(2, 3.5s, 0.2s);
  }
  .chart--design & {
    @include stagger-anim-delay(3, 4.7s, 0.2s);
  }

  &[data-skill='0'] {
    width: 20%;
  }

  &[data-skill='1'] {
    width: 25%;
  }

  &[data-skill='2'] {
    width: 4%;
  }
  &[data-skill='3'] {
    width: 6%;
  }
  &[data-skill='4'] {
    width: 8%;
  }
  &[data-skill='50'] {
    width: 50%;
  }
  &[data-skill='55'] {
    width: 55%;
  }
  &[data-skill='60'] {
    width: 60%;
  }
  &[data-skill='65'] {
    width: 65%;
  }
  &[data-skill='70'] {
    width: 70%;
  }
  &[data-skill='75'] {
    width: 75%;
  }
  &[data-skill='80'] {
    width: 80%;
  }
  &[data-skill='85'] {
    width: 85%;
  }
  &[data-skill='90'] {
    width: 90%;
  }
  &[data-skill='95'] {
    width: 95%;
  }
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}


//Keyframes
@keyframes anim-lightspeed-in {
  0%   { 
    transform: translateX(-200%);
    opacity: 1; 
  }
  100% { 
    transform: translateX(0);
    opacity: 1; 
  }
}