@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,200,300,900);

$colors: #E89B35 #36CBE9 #A137E7 #E83568;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css);

// mixin
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin animation($str...) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@mixin transition($val) {
    -webkit-transition: $val;
       -moz-transition: $val;
        -ms-transition: $val;
         -o-transition: $val;
            transition: $val;
}
@mixin transition-delay($val) {
    -webkit-transition-delay: $val;
       -moz-transition-delay: $val;
        -ms-transition-delay: $val;
         -o-transition-delay: $val;
            transition-delay: $val;
}
@mixin transform($val) {
    -webkit-transform: $val;
       -moz-transform: $val;
        -ms-transform: $val;
         -o-transform: $val;
            transform: $val;
}
@mixin transform-origin($val) {
    -webkit-transform-origin: $val;
       -moz-transform-origin: $val;
        -ms-transform-origin: $val;
         -o-transform-origin: $val;
            transform-origin: $val;
}
*, *:before, *:after {
    box-sizing: border-box;
    @include transition(all cubic-bezier(0.37, 0.15, 0.54, 1.99) .5s);
}
#monster_show {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    &:before {
        content: '';
        position: fixed;
        display: inherit;
        background-color: #97EFE9;
        width: 2500px;
        height: 2500px;
        top: 0;
        border-radius: 50%;
        left: 50%;
        margin-left: -1250px;
        top: 50%;
        margin-top: -1200px;
        @include animation(closeBody 1s ease forwards .8s);
    }
}
// color control
$green: #29d08a;
$white: #fff;
$black: #000;
$silver: #e6eef1;
$slate: #4e5b6b;

#monster_show {
  background-color: $silver;
  @include transform(translateZ(0));
}

aside {
    padding-top: 30px;
    text-align: center;
    display: block;
    background-color: #D6EADF;
    height: 90%;
    width: 90%;
    margin: auto;
    border: solid 10px $white;
    box-shadow: 0 0 10px transparentize($black, .8);
    position: relative;
    @include animation(showAside .25s ease forwards 2s);
    opacity: 0;
    header {

    }

}
header {
    padding: 74px 0 35px;
    width: 100px;
    margin: auto;
    a {
        display: inline-block;
        text-align: center;
        position: relative;
        width: 100px;
        height: 208px;
        // border-bottom: solid 3px rgba(0, 0, 0, 0.15);
        border-bottom: solid 3px darken($green, 5%);
        // opacity: 0;
        @include transform(translateY(30px));
        @include animation(showAva .5s cubic-bezier(0.37, 0.15, 0.54, 1.99) forwards 2.75s);
        opacity: 0;
        img {
            width: 100px;
            height: auto;
            padding-bottom: 7px;
            position: absolute;
            left: 0;
            bottom: 4px;
            @include animation(movebody 1s ease infinite);
        }
        &:before, &:after {
            content: '';

        }
        &:before {
            width: 17px;
            height: 40px;
            display: inline-block;
            background-color: #373737;
            background-image: linear-gradient(transparent 50%,rgba(255, 255, 255, 0.2)50%);
            background-size: 20px 5px;
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 4px;
            @include animation(tire .8s linear infinite);
        }
        &:after {
            width: 28px;
            height: 32px;
            background-color: #DEE2EA;
            display: inline-block;
            position: absolute;
            bottom: 16px;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 10px 10px 0 0;
        }
        &:hover {
            @include transform(scale(1.05));
        }
    }
    .mname, .mfact {
        position: absolute;
        background-color: $slate;
        z-index: 20;
        left: 50%;
        right: 50%;
    }
    .mname {
        color: $white;
        height: 50px;
        top: 10px;
        text-align: center;
        font-size: 24px;
        padding: 20px 0 0;
        font-weight: 500;
        color: transparent;
        @include animation(showTitle .25s cubic-bezier(0.37, 0.15, 0.54, 1.99) forwards 2.25s, showTitle-1 .5s cubic-bezier(0.37, 0.15, 0.54, 1.99) forwards 2.75s);
        &:after, &:before {
            content: '';
            height: 0;
            width: 0;
            top: -20px;
            display: inline-block;
            position: absolute;
            @include transform(scaleY(0));
            @include transform-origin(center bottom);
            @include animation(showTips .25s cubic-bezier(0.37, 0.15, 0.54, 1.99) forwards 2.5s);
        }
        &:before {
            border-left: solid 15px transparent;
            border-right: solid 15px darken($slate, 5%);
            border-bottom: solid 10px darken($slate, 5%);
            border-top: solid 10px transparent;
            left: 0;
        }
        &:after {
            border-right: solid 15px transparent;
            border-left: solid 15px darken($slate, 5%);
            border-bottom: solid 10px darken($slate, 5%);
            border-top: solid 10px transparent;
            right: 0;
        }
    }
    .mfact {
        color: lighten($slate, 20%);
        height: 40px;
        top: 50px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: transparent;
        @include animation(showTitle .25s cubic-bezier(0.37, 0.15, 0.54, 1.99) forwards 2.25s, showTitle-2 .5s cubic-bezier(0.37, 0.15, 0.54, 1.99) forwards 3s);
    }
    &:hover {
        ~ .profile-bio {
            margin-top: 80px;
            margin-left: 200px;
            opacity: 1;
            visibility: visible;
            z-index: 99;
        }
    }
}
.profile-bio {
      position: absolute;
      top: -55px;
      background-color: #fff;
      border-radius: 50%;
      padding: 30px;
      text-align: center;
      font-size: 14px;
      left: -110px;
      width: 230px;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
      top: 0;
      opacity: 0;
      visibility: hidden;
      &:after {
        content: '';
        height: 0;
        width: 0;
        display: inline-block;
        position: absolute;
        border-left: solid 10px transparent;
        border-right: solid 10px $white;
        border-bottom: solid 15px transparent;
        border-top: solid 15px $white;
        right: 30px;
        @include transform(rotate(-25deg));
      }
    p {
        color: $slate;
    }
}
.profile-social-links {
    list-style: none;
    position: absolute;
    padding: 0;
    bottom: -10px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    @include animation(showSoc .25s cubic-bezier(0.37, 0.15, 0.54, 1.99) forwards 2.5s);
    li {
        display: inline-block;
        a {
            display: inline-block;
            padding: 10px;
            i {
                &:before {
                    color: darken($green, 10%);
                    font-size: 20px;
                }
            }
            &:hover {
                i {
                    &:before {
                        color: darken($green, 15%);
                    }
                }
            }
        }
    }
}
@include keyframes(movebody)
{
    0%{bottom: 5px;}
    25%{bottom: 4px;}
    50%{bottom: 5px;}
    75%{bottom: 4px;}
    100%{bottom: 5px;}
}
@include keyframes(tire)
{
    from {
        background-position: center top;
    }
    to {
        background-position: center bottom;
    }
}
@include keyframes(showAside)
{
    0% {
        border-width: 0;
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        border-width: 10px;
        opacity: 1;
    }
}
@include keyframes(showTitle) {
    0% {
        left: 50%;
        right: 50%;
    }
    100% {
        left: -40px;
        right: -40px;
    }
}
@include keyframes(showTitle-1) {
    0% {
        padding-top: 25px;
        color: transparent;
    }
    100% {
        padding-top: 5px;
        color: $white;
    }
}
@include keyframes(showTitle-2) {
    0% {
        padding-top: 10px;
        color: transparent;
    }
    100% {
        padding-top: 10px;
        color: white;
    }
}
@include keyframes(showTips) {
    0% {
        @include transform(scaleY(0));
    }
    100% {
        @include transform(scaleY(1));
    }
}
@include keyframes(showAva) {
    0% {
        @include transform(translateY(30px));
        opacity: 0;
    }
    100% {
        @include transform(translateY(0));
        opacity: 1;
    }
}
@include keyframes(showSoc) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@include keyframes(closeBody)
{
    0% {
        width: 2500px;
        height: 2500px;
        border-radius: 50%;
        left: 50%;
        margin-left: -1250px;
        top: 50%;
        margin-top: -1200px;
        right: auto;
    }
    50% {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        top: 200px;
    }
    100% {
        width: 284px;
        height: 380px;
        border-radius: 0;
        left: 0;
        right: 0;
        margin: auto;
        top: -150px;
        margin-top: 150px;

    }
}

.panel {
    border-top: 1px solid black;
    border-radius: 8px;
    transition: all 0.35s ease-in-out;
    padding: 1.5rem 2rem;
    /* position: absolute; */
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

dt {
      margin: 0;
      padding: 1rem 0;
       &:first-child {
        padding-top: 0;
      }
      &:after {
        width: 100%;
        background-color: #e0e0e0;
        height: 0.5rem;
        content: "";
        display: block;
      }
    }
    
    dd {
      width: 100%;
      height: 0.5rem;
      position: relative;
      right: 0;
      margin: -1.5rem 0 0;
      /* background-color: nth($colors, 1); */
      overflow: hidden;
      text-indent: -1000px;
      
      @for $i from 1 through length($colors) {
        &:nth-child(#{$i*2}) {
          background-color: nth($colors, $i);
        }
      }
    }





