<!DOCTYPE html>
<html>
  <head>
    <title>Veggiemon</title>
    <%= csrf_meta_tags %>

    <style type="text/css">
      .user_nav {
        background-color: purple;
        color: white;
        padding: 3%;
        width: 100%;
        margin: 0;
      }

      html {
        height: 100%;
      }

      body {
        background-color: blue;
        height: 100%;
      }

      .user_image {
        border: 2px solid red;
        width: 80%;
        height: 60%;
        margin: 2% auto;
      }

      .buttons {
        width: 80%;
        margin: 8% auto;
        height: 10%;
      }

      .buttons div {
        display: inline-block;
        width: 30%;
        height: 100%;
        border: 3px solid orange;
        margin: auto;
      }

      .scan {
        margin-left: 5%;
        margin-right: 5%;
      }

    </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
