<!DOCTYPE html>
<html>
  <head>
    <title>Veggiemon</title>
            <link rel="stylesheet" href="css/base.css" type="text/css" media="screen">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
